body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.page-wrapper {
    margin-top: 80px;
}

.footer-logo {
    color: #FFFFFF;
    font-size: 20pt;
}

.footer-item {
    color: #FFFFFF;
}

.footer-social-icon {
    color: #FFFFFF;
}